@page "/categories/create"
@using BlazoredModal_Server.Models

<h3>Crear Categoría</h3>

<FormWithName @ref="categoryForm" Label="Categoría: " Model="category" OnValidSubmit="CreateAsync" ReturnAction="Return" />
@code {
    
    private Category category = new();
    private FormWithName<Category>? categoryForm;
    // [Inject] private IRepository Repository { get; set; } = null!;
    [Inject] private SweetAlertService SweetAlertService { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task CreateAsync()
    {
        // var responseHttp = await Repository.PostAsync("/api/categories", category);
        // if (responseHttp.Error)
        // {
        //     var message = await responseHttp.GetErrorMessageAsync();
        //     await SweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }


        // await BlazoredModal.CloseAsync(ModalResult.Ok());
        // Return();

        // var toast = SweetAlertService.Mixin(new SweetAlertOptions
        //     {
        //         Toast = true,
        //         Position = SweetAlertPosition.BottomEnd,
        //         ShowConfirmButton = true,
        //         Timer = 3000
        //     });
       // await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito.");
    

    private void Return()
    {
        categoryForm!.FormPostedSuccessfully = true;
        NavigationManager.NavigateTo("/categories");
    }
}

